/* ESTILO DE PLANTILLABARRA*/
:root{
    --bs-body-font-family: 'Poppins', sans-serif !important;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex; /* Usar flexbox para el diseño */
    font-family: 'Poppins', sans-serif;
}
.contenido {
    width: calc(100% - 300px);
    margin-top: 100px; /* Ajusta según sea necesario */
    height: 600px; /* Ajusta según sea necesario */
    margin-left: 270px; /* Ajusta para evitar solapamiento con la barra lateral */
}
.barra-lateral {
    width: 250px;
    height: 100%;
    overflow: hidden;
    background-color: #141C32;
    transition: width 0.5s ease;
    position: fixed;
    top: 0;
}
/*nombre de la pagina*/
.barra-lateral .nombre-pagina{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    margin-top: 35px;
}
.barra-lateral .nombre-pagina img{
    margin-left: 15px;
    font-size: 50px;
}
.barra-lateral .nombre-pagina span{
    font-size: larger;
    opacity: 1;
    color: white;
    margin-left: 12px;
    transition: opacity 0.5s ease;
}

/*Menu de navegacion*/
.barra-lateral .navegacion{
    margin-top: 55px;
    margin-right: 0;
    margin-left: 20px;
}
.barra-lateral .navegacion li{
    margin-top: 20px;
    list-style: none;
    display: flex;
    margin-bottom: 10px;
    margin-right: 0;
}
.barra-lateral .navegacion span{
    margin-left: 25px;
}
.barra-lateral .navegacion a{
    width: 100%;
    height: 50px;
    margin-left: 10px;
    display: flex;
    text-decoration: none;
    border-radius: 25px;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease;
}
.barra-lateral .navegacion a:hover{
    margin-right: 0;
    background-color: white;
    color: #141C32;
    border-top-right-radius: 0; /* Quitar radio del borde superior derecho */
    border-bottom-right-radius: 0; /* Quitar radio del borde inferior derecho */
}

/*.barra-lateral .navegacion a:hover #perfil-img {
    content: url('<%=context%>/IMG/perfil_v.png');
}
.barra-lateral .navegacion a:hover #calendario-img {
    content: url('<%=context%>/IMG/calendario_v.png');
}
.barra-lateral .navegacion a:hover #historial-img {
    content: url('<%=context%>/IMG/historial_v.png'); /* Cambia la imagen al hacer hover
}*/

.barra-lateral .navegacion img{
    margin-left: 15px;
}
.contenido-superior{
    width: calc(100% - 250px); /* Resto del ancho de barra-lateral */
    height: 100px; /* Ajustar la altura según se necesite */
    overflow: hidden;
    background-color: white;
    padding: 32px 15px;
    margin-left: 250px;
    position: fixed;
}
.titulo-interfaz{
    width: 400px;
    height: 100px;
    font-weight: bold;
}
.titulo-interfaz span{
    font-size: xx-large;
    color: #141C32; /* Añadir color para que el texto sea visible */
}
.rol-actual{
    position: fixed; /* Posiciona este div de manera absoluta */
    top: 15px; /* Ajusta según la necesidad */
    right: 15px; /* Ajusta según la necesidad */
    padding: 10px 15px; /* Añadir padding si es necesario */
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.rol-actual img{
    width: 40px;
    height: 40px;
}
.rol-actual span{
    color: #141C32;
    font-size: small;
    margin-right: 10px;
    top: 0;
    margin-bottom: 20px;
    align-items: center;
}
